{% extends 'players/base.html' %}

{% block nav-avatar %}<li class="active"><a href="{% url 'avatar' %}">Program<span class="sr-only"> (current)</span></a></li>{% endblock %}

{% block content %}
<div class="row">
    <h2>Avatar Settings</h2>
    <p>Change your avatar!</p>
</div>
<div class="row">
    <div id="alerts" class="alert collapse" role="alert">
    </div>
</div>
<input type='text' id="custom" />

<div class="row">

    <div id="editor" class="col-md-9"></div>

    <form id="saveForm" action="{% url 'code' %}" method="POST">
        {% csrf_token %}
       
        <div id="buttons" class="col-md-3">
            <input type="submit" id="saveBtn" type="button" class="btn btn-lg btn-primary text-center" value="Save" />
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<link rel='stylesheet' href='/static/css/spectrum.css' />
<script src='/static/js/lib/spectrum.js'></script>
<script src='/static/js/avatar.js'></script>
 <script>
  
</script>
{% endblock %}