{% extends 'players/base.html' %}

{% block nav-avatar %}<li class="active"><a href="{% url 'avatar' %}">Program<span class="sr-only"> (current)</span></a></li>{% endblock %}

{% block content %}
<div class="row">
    <h2>Avatar Settings</h2>
    <p>Choose and change your avatar!</p>
</div>
<div class="row">
    <div id="alerts" class="alert collapse" role="alert">
    </div>
</div>

<button id="left">&#8592;</button>
<button id="right">&#8594;</button>

<div class="row">
    <div id="editor" class="col-md-9"></div>
    <form id="saveForm" action="{% url 'avatar' %}" method="POST">
        {% csrf_token %}
        <div id="buttons" class="col-md-3">
            <input type="submit" id="saveBtn" type="button" class="btn btn-lg btn-primary text-center" value="Save" />
        </div>
    </form>
</div>

<span id="watch-world-canvas"></span>

<table border="0">
    <tr>
        <td> Body stroke <input type='text' id="body_stroke" /></td>
        <td> Body fill <input type='text' id="body_fill" /></td>
        <td> Eye stroke <input type='text' id="eye_stroke" /></td>
        <td> Eye fill <input type='text' id="eye_fill" /></td>
    </tr>
</table>

{% endblock %}

{% block scripts %}
<link rel='stylesheet' href='/static/css/spectrum.css' />
<link rel='stylesheet' href='/static/css/avatar.css' />
<script type="text/javascript" src="/static/js/lib/raphael-min.js"></script>
<script src='/static/js/lib/spectrum.js'></script>
<script src='/static/js/avatar.js'></script>
 <script>
  
</script>
{% endblock %}